<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <script type="text/javascript" src="/js/requestPromise.js"></script>

    <script type="text/javascript">
        function validate() {
            let urlValue = document.getElementById('url').value;
            let dividingNumberValue = document.getElementById('dividingNumber').value;

            if(urlValue != "" && dividingNumberValue != "") {
                return true;

            } else {
                return false;
            }
        }

        function validateURL() {
            let urlValue = document.getElementById('url').value;

            if(urlValue.includes('http://') || urlValue.includes('https://')) {
                return true;

            } else {
                return false;
            }
        }

        function go() {
            if(validate()) {
                if(validateURL()) {
                    let url = document.getElementById('url').value;
                    let type = document.getElementById('type').value;
                    let dividingNumber = document.getElementById('dividingNumber').value;

                    let requestPromise = new RequestPromise();
                    return requestPromise.get('/parse?url=' + url + '&type=' + type + '&dividingNumber=' + dividingNumber)
                        .then((response) => {
                            let responseObject = JSON.parse(response);
                            if (responseObject.result) {
                                document.getElementById('quotient').innerText = responseObject.quotient;
                                document.getElementById('remainder').innerText = responseObject.remainder;

                            } else {
                                alert('잘못된 HTML 형식을 가진 페이지 입니다.')
                            }

                        }, function (error) {
                            console.error('Failed!', error);
                        });
                } else {
                    alert('URL 에서 프로토콜 입력은 필수 입니다. (http://, https://)');
                }

            } else {
                alert('URL 과 출력 묶음 단위(자연수) 영역은 필수로 입력하셔야 합니다.');
            }
        }
    </script>
</head>
<body>
    <div id="container">
        <div>
            <span> URL: </span>
            <input type="text" id="url" />
        </div>

        <div>
            <span> TYPE : </span>
            <select id="type">
                <option value="text"> TEXT </option>
                <option value="html"> HTML </option>
            </select>
        </div>

        <div>
            <span> 출력 묶음 단위 (자연수) </span>
            <input type="number" id="dividingNumber" min="0" max="100" />
        </div>

        <div>
            <button id="go" onclick="go()"> 출력 </button>
        </div>

        <div>
            <span> 몫 : <span id="quotient"></span></span>
        </div>

        <div>
            <span> 나머지 : <span id="remainder"></span></span>
        </div>
    </div>
</body>
</html>